<!DOCTYPE html>
<html lang="ja-JP">
  <head>
    <meta charset="URT-8" />
    <meta name="viewport" content="width:device-width" />
    <meta name="description" content="{% block desc %}Automatic recorder.{% endblock %}" />
    <title>{% block title %}Recorder{% endblock %}</title>
    <link rel="stylesheet" href="/static/libraries/bootstrap/css/bootstrap.min.css" />
  </head>
  <body>
    <main>{% block content %}</main>
    <script src="/static/libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>